body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: absolute;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    min-height: 100vh;
    width: 100vw;
}

.sidebar{
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #0f172a;
    color: aliceblue;
    grid-template-rows: 1fr 3fr 6fr;
}

.header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.main-body{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #9ca3af;
    padding: 20px;
    gap: 10px;
}

svg{
    height: 20px;
    width: 20px;
    color: aliceblue;
}

ul, li{
    list-style-type: none;
}

.navigation{
    padding: 20px;
    gap: 5px;
}

.svg-set{
    margin-right: 20px;
}

.navigation > ul > li{
    font-weight: bold;
    margin-bottom: 7px;
}

.logo{
    display: flex;
    margin: 16px;
}

#mini-logo{
    display: grid;
    gap: 3px;
    min-width: 30px;
    height: 30px;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#logo-title{
    padding-left: 10px;
    font-weight: bold;
    font-size: 1.35em;
}

#mini-logo > div{
    background-color: white;
}

.mini-1{
    grid-row: 1 / 3;
}

.mini-4{
    grid-row: 2 / 4;
}

.user-pfp{
    display: flex;
    padding-left: 50px;
    align-items: center;
    font-family: 'Protest Riot', sans-serif;
    font-size: 30px;
}

.img-pfp{
    max-width: 60px;
    max-height: 60px;
    border-radius: 30px;
}

.username{
    margin-left: 10px;
}

.search-bar{
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-buttons > button{
    margin: 10px;
    padding: 10px;
    background-color: #0f172a;
    color: white;
    border: none;
    border-radius: 15px;
    width: 100px;
}

.nav-buttons > button:hover{
    background-color: #082f49;
}

.search{
    width: 60%;
    margin: 20px;
    height: 40%;
    border-radius: 15px;
    border: none;
    background-color: #9ca3af;
}

.project{
    grid-row: 1 / 3;
    display: grid;
    grid-template: 15px 1fr 1fr / 1fr 1fr;
    gap: 15px;
}

.card-title{
    grid-column: 1 / 3;
}

.card{
    background-color: white;
    border-radius: 15px;
    height: 180px;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    padding: 15px;
    padding-top: 20px;
    box-shadow: -5px 0 0 #4338ca;
}

.bar-card{
    background-color: white;
    border-radius: 15px;
    height: 280px;
}

.card-icons{
    display: flex;
    justify-content: right;
    gap: 25px;
}

.announcement-card{
    background-color: white;
    border-radius: 15px;
    height: 280px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 15px;
}

.announcement-card > div{
    font-family: "Roboto", sans-serif;
    font-size: 0.8em;
    padding: 5px;
}

.card-bord{
    border-top: 1px solid #73797e;
    border-bottom: 1px solid #73797e;
}

.trending-card{
    background-color: white;
    border-radius: 15px;
    height: 280px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 10px;
}

.trending-pfp{
    width: 55px;
    height: 55px;
    border-radius: 55%;
    margin-right: 10px;
}

.card-line{
    display: flex;
    align-items: center;
}